# backend-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    environment: staging   
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        environment: staging
        app: backend
    spec:
      imagePullSecrets:
        - name: ghcr-creds
      containers:
        - name: backend
          image: container-registry.zucchetti.com/zucchetti_hospitality/zmenu_next/backoffice_backend:0.0.3-2
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Production
            - name: Authentication__JwtBearer__Authority
              value: https://staging.zidentity.cloud/
            - name: Authentication__JwtBearer__TokenEndpoint
              value: https://staging.zidentity.cloud/connect/token
            # Accesso a manager-be (via Service interno)
            - name: ManagerSettings__Manager
              value: http://manager-be:8080
            # Accesso a Postgres
            - name: DatabaseSettings__DatabaseHost
              value: postgres
            - name: DatabaseSettings__DatabasePort
              value: "5432"